<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pur.ultimate.db.mysql.dao.UserInfoMapper" >

  <resultMap id="BaseResultMap" type="pur.ultimate.db.mysql.model.UserInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="passord" property="passord" jdbcType="VARCHAR" />
    <result column="phoneno" property="phoneno" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, passord, phoneno, email
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
	from userinfo
	where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from userinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pur.ultimate.db.mysql.model.UserInfo" >
    insert into userinfo (id, username, passord, 
      phoneno, email)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{passord,jdbcType=VARCHAR}, 
      #{phoneno,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pur.ultimate.db.mysql.model.UserInfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="passord != null" >
        passord,
      </if>
      <if test="phoneno != null" >
        phoneno,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="passord != null" >
        #{passord,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pur.ultimate.db.mysql.model.UserInfo" >
    update userinfo
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="passord != null" >
        passord = #{passord,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        phoneno = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pur.ultimate.db.mysql.model.UserInfo" >
    update userinfo
    set username = #{username,jdbcType=VARCHAR},
      passord = #{passord,jdbcType=VARCHAR},
      phoneno = #{phoneno,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>